.home-section{
background-image: url("../../../assets/fondo-home.PNG"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
}
.container-home{
    padding-top: 30vh;
}
h3{
    color: var(--blanco)!important;
    font-size: 50px !important;
    text-align: center;
}
.txt-home{
    color: var(--marronOscuro);
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
}
.btn-home{
    background-color: var(--marronClaro) !important;
    border: none !important;
    font-family: "Poppins", sans-serif !important;
    width: 320px;
    height: 60px;
}
.btn-home:hover{
    background-color: var(--beige) !important;
    border: none !important;
    font-family: "Poppins", sans-serif !important;
    color: var(--marronOscuro) !important;
    width: 320px;
    height: 60px;
}

.home-buttons{
    margin-top: 15rem;
}